@font-face {
  font-family: "leMurmure";
  src: url("LeMurmure-Regular.woff2") format("woff2");
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}	


/* adjusting fonts */

body {
	background: white;
	background-size: cover;
	color: black;
	font-family: 'leMurmure', monospace;
	margin-left: 100px;
}

#grid {
	padding: 20px;
}

a {
	color: lime;
	text-decoration: none;
}

p, li {
	font-size:  30px;
	line-height: 35px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

.desc {
	font-size: 55px;
}
h1, p {
	margin-bottom:  20px;
	font-size: 70px;
	font-weight: 500;
}

ul, ol {
	margin-left: 20px;
}

h3 {
	font-size: 50px;
	font-weight: 500;
}

a:hover {
	color: purple;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/